<a href="https://colab.research.google.com/github/falilo/CMP414ArtificialIntelligence/blob/main/CMP464Week01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week1 Notebook
## Python Basics
This is a paragraph of text. The content of the text cell is not recognized as a python code, and it connot be excuted.

Dictionary same as java

In [3]:
scores = {"Imtihal":2001,
          "Falilou":1983,
          "Achraf":1987}
print(scores["Imtihal"])

2001

In [5]:
# check if the item is the scores
print("Falilou" in scores)
print("Ouro - Djobo" in scores)

True
False

In [6]:
print("Hello World from Falilou!:)")

Hello World from Falilou!:)

In [8]:
print(1 + 2)
print(4 * 5)
print(12345 / 7)

3
20
1763.5714285714287

In [9]:
print("Hello World!")

Hello World!

In [10]:
print(1.5 * 1.5)

2.25

In [11]:
print(1.5**2) # double asteric means 1.5 squared

2.25

In [13]:
print(2, 2**2, 2**3, 2**4, 2**5)

2 4 8 16 32

In [18]:
height = 5.57
weight = 154
print(height, weight)

5.57 154

In [19]:
BMI = weight/height**2
print("BMI", BMI)

BMI 4.9637549194356785

float

In [20]:
a = 10
print(type(a))

<class 'int'>

In [21]:
D = 70085 
T = 15
Speed = D/T
print("Speed","=", Speed)

Speed = 4672.333333333333

In [22]:
str1 = "Imtihal"
boolean1 = True 
print(str1)
print("Type of str1:",type(str1))
print("type of boolean1:",type(boolean1))

Imtihal
Type of str1: <class 'str'>
type of boolean1: <class 'bool'>

Scientific notation

In [23]:
# x = 1000000000
x = 1e9 # represent 1.0*(10**9)
print(x)
y = 1.2e-14 # represent 1.2*(10**-14)
print(y)

1000000000.0
1.2e-14

Mathmatic operation

In [24]:
import math 
x = math.sqrt(9)
print(x)
y = math.sqrt(5)
print(y)
z = 2.2360679**2
print(z)

3.0
2.23606797749979
4.99999965341041

In [25]:
# Trigonometric functions
a = math.sin(90)
b = math.cos(90)
print(a,b)
c = math.sin(30)
d = math.cos(30)
print(c,d)

0.8939966636005579 -0.4480736161291701
-0.9880316240928618 0.15425144988758405

In [26]:
# quadratic formula
a = 1
b = 5
c = 4
x1 =(-5 + math.sqrt(5**2 - (4*1*4)))/2*1
x2 =(-5 - math.sqrt(5**2 -(4*1*4)))/2*1
print("x1=",x1)
print("x2=",x2)

x1= -1.0
x2= -4.0

In [27]:
# calculate the sum of first 100 integers (0....99)
init = 0
for i in range(0,100):
  init +=i
print(init)

4950